@import "compass";

$screen-sm-info-width: 170px;
$screen-sm-message-width: 339px;
$screen-md-info-width: 200px;
$screen-md-message-width: 470px;
$screen-lg-info-width: 230px;
$screen-lg-message-width: 590px;
$screen-xl-info-width: 230px;
$screen-xl-message-width: 740px;

#box-chat {
  border-radius: 4px 4px 0 0;
  height: 300px;
  overflow: hidden;
}

#send-message {
  display: none;
}

.entry {
  overflow: hidden;

  &:last-child {
    border-bottom: 0;
  }
  .entry-info {
    clear: both;
    .entry-user {
      padding: 5px 10px;
      float: left;
      font-weight: bold;
    }

    .entry-date {
      float: right;
      padding: 5px 10px;
      color: #777;
    }
  }

  .entry-message {
    padding: 5px 10px;
    word-wrap: break-word;
    clear: both;
  }
}

.form-control, .btn-default {
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #DDD;
}

.form-control {
  box-shadow: none;
}

.btn-default {
  border-left: 0;
  line-height: 20px;
}

#users {
  height: 336px;
  border-left: 0;
  border-bottom: 1px solid #DDD;
  display: none;
}

#box-chat-container {
  margin-right: -15px;
}

#message, #submit {
  border: 0;
  border-radius: 0;
}

#submit {
  padding: 7px 12px;
  border-left: 1px solid #DDD;
}

// Calculate width based on number of columns available
@media (min-width: $screen-sm-min) {
  #users {
    display: block;
  }
  #message, #submit {
    border-left: 1px solid #DDD;
  }
  .entry-info, #send-message {
    width: $screen-sm-info-width;
    vertical-align: top;
    float: left;
    display: inline-table;
  }
  #send-message {
    background: #FFF;
    padding: 5px 10px;
    height: 34px;
    float: left;
    width: ($screen-sm-info-width) !important;
  }
  .entry {
    border-bottom: 0;

    .entry-user {
      float: right;
      font-weight: normal;
    }

    .entry-date {
      float: left;
    }

    .entry-message {
      vertical-align: top;
      width: $screen-sm-message-width;
      float: left;
      border-left: 1px solid #DDD;
      clear: none;
    }
  }
  #send-container {
    border-bottom: 1px solid #DDD;
  }
}

@media (min-width: $screen-md-min) {
  .entry-info {
    width: $screen-md-info-width !important;
  }
  #send-message {
    width: ($screen-md-info-width) !important;
  }
  .entry-message {
    width: $screen-md-message-width !important;
  }
}

@media (min-width: $screen-lg-min) {
  .entry-info {
    width: $screen-lg-info-width !important;
  }
  #send-message {
    width: ($screen-lg-info-width) !important;
  }
  .entry-message {
    width: $screen-lg-message-width !important;
  }
}

@media (min-width: $screen-xl-min) {
  .entry-info {
    width: $screen-xl-info-width !important;
  }
  #send-message {
    width: ($screen-xl-info-width) !important;
  }
  .entry-message {
    width: $screen-xl-message-width !important;
  }
}
