@import "_variables";

$folder-size: 30px;
$folder-width: 60px;
$last-width: 500px;
$avatar-height: 40px;
$avatar-padding-right: 15px;
$table-cell-padding: 8px !default;

@mixin fa-angle() {
  font-weight: bold;
}

.pagination {
  margin-top: 5px;
  float: left;
}

/*
* Icons
*/
.fa-angle-up {
  @include fa-angle;
  color: green;
}

.fa-angle-down {
  @include fa-angle;
  color: red;
}

.fa-google-plus-square {
  color: #dd4b39;
}

.fa-facebook-square {
  color: #3C599D;
}

.fa-twitter {
  color: #1AC4FF;
}

/*
 * Forums
 */
#forums {
  padding-right: 0 !important;
  margin-bottom: 0 !important;

  .table {
    margin-bottom: 0 !important;

    thead {
      color: #FFF;
      font-size: 16px;
      background: #1c5a6e;

      a {
        color: #FFF;
      }
    }

    thead > tr > th {
      padding: 8px !important;
      font-weight: normal;
      border: 0 !important;
    }

    tbody > tr > td {
      border-top: 0 !important;
      padding: 15px;
      vertical-align: middle;
    }
  }
}

.forum-folder {
  vertical-align: middle !important;
  width: $folder-width;

  .fa-folder, .fa-folder-o {
    font-size: $folder-size;
    color: #504F4F;
  }
}

.board {
  width: 40%;
}

.last-forum, .last-post {
  width: 25%;
  font-size: 14px;

  .last-info {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
  }
}

.stats {
  text-align: center;
  color: $grey;

  .stat {
    font-size: 16px;
  }
}

img.forum-avatar {
  height: $avatar-height;
  vertical-align: middle;
  margin-right: $avatar-padding-right;
  display: inline-block;
}

/*
 * Forums sidebar
 */
.recent {

  .recent-info {
    display: inline-block;
    width: 77%;
    vertical-align: middle;
    font-size: 14px;

    p {
      margin: 0;
    }
  }

  margin-bottom: 15px;
}

#forums-sidebar {
  padding-left: 0 !important;
  border-left: 1px solid $border-light;

  .box-recent {
    border: 0;
    border-top: 1px solid $border-light;
    padding: 15px 15px 0 15px;
  }
  .list-group > a {
    border: 0;
  }

  h4 {
    padding-left: 15px;
  }
}

.description {
  color: $grey;
  font-size: 14px;
}

#forums-container {
  border-top: 1px solid $border;
}

/*
 * Forum
 */
#topics {
  @extend #forums;
  > .table {
    outline: 1px solid $border;

    > tbody > tr {
      border-top: 1px solid $border-light;
      > td {
        padding: 10px;

        &.stats {
          text-align: right;
        }
      }
    }
  }
}

.topic-folder {
  width: 20px;
  vertical-align: middle !important;
  text-align: center;
}

.fa-circle, .fa-circle-o {
  color: #504F4F;
}

.last-post {
  width: 20%;
}

img.topic-avatar {
  height: $avatar-height;
  vertical-align: top;
}

#topics-order {
  background-color: #1c5a6e;
  border-top: 0 !important;
  a {
    color: #fff;
  }
  td {
    padding: 5px 10px !important;
    font-size: 14px;
  }
}

.sticky {
  font-weight: bold;
}

/*
 * Topic
 */
.social {
  list-style: none;

  > li {
    float: left;
    margin-left: 10px;
    font-size: 18px;
  }
}

.topic {
  width: 65%;
}

.btn-group-topics {
  margin: 6px 0;
}

#topic-header {
  margin-bottom: 5px !important;
}

/*
 * Post
 */
.posts {
  border-bottom: 1px solid $border;
}

.post-container {
  z-index: 1;
  clear: both;
  position: relative;
  overflow: hidden;

  img {
    display: block;
    max-width: 80%;
    margin: 20px auto;
  }
}

.post {
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  background: #FFF;

  $post-user-width: 18%;

  .post-user {
    padding: 1px 10px;
    background: #F2F4F7;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    position: relative;

    h5 {
      display: inline-block;
      width: $post-user-width - 1;

      a {
        vertical-align: middle;
      }
    }

    .fa-user {
      color: #AAA;
      vertical-align: middle;
    }

    .online {
      color: #67aa63;
    }

    .user-date {
      display: inline-block;
      color: $grey-darker;
    }

    .user-posts {
      float: right;
      padding: 8px 0;
      color: $grey-darker;
    }
  }

  .avatar-background {
    width: $post-user-width;
    background: #f9fafb;
    border-right: 1px solid $border-light;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .avatar {
    display: inline-block;
    width: $post-user-width;
    vertical-align: top;
  }

  .post-content {
    padding: 10px 0 0 20px;
    font-size: 16px;
    display: inline-block;
    width: 79%;

    blockquote {
      font-size: 14px;
    }

    img {
      margin: 0 auto;
    }

    h1 {
      font-size: 28px !important;
      margin-top: 20px !important;
      margin-bottom: 5px !important;
    }

    h2 {
      font-size: 24px !important;
      margin-top: 20px !important;
      margin-bottom: 5px !important;
    }

    h3 {
      font-size: 18px !important;
      font-weight: bold;
      margin-top: 18px !important;
      margin-bottom: 3px !important;
    }

    h4 {
      font-size: 15px !important;
      font-weight: bold;
      margin-top: 15px !important;
      margin-bottom: 2px !important;
    }
  }

  .post-created {
    color: $grey;
    font-size: 14px;
  }
}

.post-menu {
  position: absolute;
  right: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  top: 8px;

  li {
    float: right;
    margin-left: 5px;
  }
}

.topic-menu {
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style: none;

  li {
    float: right;
    margin-left: 5px;
  }
}

.social {
  font-size: 20px;
}

.signature {
  border-top: 1px solid #DDD;
  width: 100%;
  padding-left: 25px;
  padding-right: 18%;
  padding-top: 10px;
  margin-left: 18%;
}

/**
 * Post labels
 */
.label-admin, .label-red {
  background-color: #dd4b39;
}

.label-moderator, .label-green {
  background-color: green;
}

.label-gray {
  background-color: grey;
}

.label-orange {
  background-color: orange;
}
