@import "_variables";

h1 {
  text-align: center;
}

#profile {
  margin: 0;
}

#profile-avatar {
  margin: 0 auto;
  width: 180px;
  display: block;
}

#profile-sidebar {
  background: #FFF;
  border-right: 1px solid $border-default;
  max-width: 20%;
}

.profile-main {
  width: 80% !important;
}

#profile-box {
  background: #FFF;
}

/**
 * Comments
 */
#comments {
  border-bottom: 1px solid $border-default;
  margin-left: -8px;
}

.comment {
  border-top: 1px solid $border-default;
  border-right: 1px solid $border-default;
  clear: both;
  display: inline-block;
  width: 100%;
}

.comment-avatar {
  width: 80px;
  float: left;
  margin: 10px;
}

.comment-username {
  margin-top: 10px;
}

.comment-menu {
  margin-top: 30px;
  width: 100%;
}

.report {
  float: right;
  color: $grey;
  margin-right: 5px;
}

#sidebar-right {
  border-left: 1px solid $border-default;
  margin-left: -9px;
}

.profile-table {
  width: 100%;

  td {
    padding: 2px 0;
  }

  .pull-right {
    color: $grey;
  }

  td.value {
    float: right;
    text-align: right;
  }
}

.profile-info {
  td {
    padding: 6px 0;
  }
}
